.formContainer {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2.5rem;
  background-color: #121212;
  border-radius: 8px;
  border: 1px solid #222;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.title {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inputGroup {
  margin-bottom: 2rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #bbb;
  cursor: pointer;
}

.labelText {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  color: #00ce7a; /* Color verde para los títulos de los campos */
}

.input,
.textarea {
  width: 100%;
  padding: 12px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #00ce7a;
  background-color: #252525;
}

.textarea {
  min-height: 100px;
  font-family: inherit;
  resize: vertical;
}

.errorText {
  color: #ff4d4d;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  margin: -0.4rem 0 0 0;
  padding-top: 0.2rem;
  line-height: 1;
  display: block;
}

.submitButton {
  width: 100%;
  padding: 15px;
  background-color: #00ce7a;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #00ff8c;
}

/* Quita las flechas del input number */
.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.helperText {
  font-size: 0.8rem;
  color: #777777; /* Gris secundario tenue para diferenciarlo de las etiquetas principales */
  text-align: left;
  margin-top: -0.4rem; /* Reduce el espacio vertical con respecto a la etiqueta */
  margin-bottom: 0.2rem;
  font-weight: 400;
}
